// Material Assets
link(href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css')
link(href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet")
link(href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet")

ion-side-menus(enable-menu-with-back-views="false")
  ion-side-menu-content
    ion-nav-bar.bar-positive(ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left")
      ion-nav-buttons(side="left" native-transitions native-transitions-options="{type: 'slide', direction:'right'}")
        button.button.button-icon.button-clear.ion-navicon(menu-toggle="left")
    ion-nav-view(name="fabContent")
    ion-nav-view(name="menuContent" ng-class="{expanded: isExpanded}")

  ion-side-menu(side="left")
    ion-header-bar.expanded
      img.avatar.motion.spin.fade(src="img/logo.png")
      .menu-bottom.thin_text_shadow Revendedor NegócioGuiado
    ion-content.has-expanded-header
      // (ng-if="$root.currentUserRole == $root.measurerRole || $root.currentUserRole == $root.adminRole")
      //  TODO uncomment it actions if/when the measure comes to the process
      //ion-list
      //  ion-item.ink.item.item-icon.item-icon-left(nav-clear menu-close ui-sref="app.evaluations")
      //    i(class="icon ion-clipboard")
      //    | Histórico de Avaliações
      //  ion-item.ink.item.item-icon.item-icon-left(nav-clear menu-close ui-sref="app.profile")
      //    i(class="icon ion-android-person")
      //    | Perfil e Conta
      // (ng-if="$root.currentUserRole == $root.retailerRole || $root.currentUserRole == $root.adminRole")
      ion-list
        ion-item.ink.item.item-icon.item-icon-left(nav-clear menu-close ui-sref="app.showroom")
          i(class="icon ion-model-s")
          | Carros à Venda
        ion-item.ink.item.item-icon.item-icon-left(nav-clear menu-close ui-sref="app.purchase_history")
          i(class="icon ion-bag")
          | Histórico de Compras
        ion-item.ink.item.item-icon.item-icon-left(nav-clear menu-close ui-sref="app.profile")
          i(class="icon ion-card")
          | Meios de Pagamento
