ion-view(hide-nav-bar="true")
  ion-content.content-center
    form(ng-submit="doLogin()" autocomplete="off")
      .list
        label.item.item-input
          span.input-label E-mail
          input(type="text" ng-model="loginData.email" autocomplete="off")
        label.item.item-input
          span.input-label Password
          input(type="password" ng-model="loginData.password" autocomplete="off")

      .padding
        button.button.button-block.button-positive(type="submit") Log in

      .padding
        button.button.button-block.button-clear.button-positive(type="submit") Modo Anonimo
